.title-page h1 {
  font-size: 30px;
  padding-top: 10px;
  background: linear-gradient(to right, #0575e6, #00f260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* iPad Air 4 Viewport */

@media (max-width: 1180px) {
  .profile img {
    width: 70%;
    height: 300px;
    object-fit: cover;
    opacity: 0.9;
  }

  .textDark {
    padding-top: 20px 0px;
  }

  .textDark p {
    width: 70%;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    line-height: 35px;
  }
}
